* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

.title {
color: #363940;
font-size: 32px;
font-weight: 500;
line-height: 43px;
}

.text {
    color: #95A1BB;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

html,
body {
    font-family: "Rubik", sans-serif;
}

.header {
    background-color: #0A61F7;
    padding: 14px 0;
}

.menuLink {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.4px;
    text-transform: uppercase;

}

.mainTitle{
color: #363940;    
font-weight: 500;
font-size: 58px;
line-height: 68px;
margin-bottom: 30px ;
}

.text{
font-weight: 400;
font-size: 16px;
line-height: 137%;
color: #95a1bb;
margin-bottom: 40px ;
}

.button{
border-radius: 4px;
width: 152px;
height: 50px;
background: #0a61f7;

font-weight: 500;
font-size: 14px;
line-height: 140%;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
color: #fff;
}

.ratesSection {
    background-color: #F9FAFC;
    padding-top: 100px;

}

.ratesSection .title {
    margin-bottom: 20px;
}

.ratesSection .text{
    margin-bottom: 40px;
}

.title {
font-weight: 500;
font-size: 32px;
line-height: 134%;
color: #363940;
margin-bottom: 20px;
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #95A1BB;
    width: 240px;
    padding: 15px 0;
    text-align: center;
}

.tableSubtitle.gray {
    color: #95A1BB;
}

.tableBtn.active {
    background-color: #0A61F7;
    color: #df1212;
}
.tableFooter td{
    padding: 30px 0;
}

.craeteAcc {
    padding: 100px 0;
    
}

.craeteAcc.title {
margin-bottom: 50px;
}

.craeteAcc.text {
margin-bottom: 40px;
max-width: 500px;
}


.listItem {
list-style-image: url(./assets/images/Check.svg);
margin-left: 30px;
margin-bottom: 15px;
color: #363940;
}

input, select, fieldset, textarea {
    border-radius: 4px;
    border: 1px solid #95A1BB;
    padding: 14px 15px;
}

input, select, fieldset, textarea, label, legend, input::placeholder, select::placeholder, textarea::placeholder {
    color: #95A1BB;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    font-family: inherit;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
}
fieldset {
    width: 100%;
    padding: 30px 15px;
}
textarea { 
    width: 100%;
    min-height: 80px;
    resize: none;
}

form .button {
    width: 100%;
}

select {
    background: url(./assets/images/Arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}

input [type="date"]::webkit-calendar-picker-indicator {
    background: url(./assets/images/Calendar.svg) no-repeat;
}

.footer {
    background-color: #0A61F7;
    text-align: center;
    padding: 20px 0;
}

small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color:#FFF;
}